
<h1><%= @card.num1 %> <%= @card.operator %> <%= @card.num2 %></h1>
<p>this is the round id</p>
<%= @round.id %>
<p>This is is the card id</p>
<%= @card.id %>



<%= form_tag new_round_path, method: :get %>
<%= text_field_tag :guess %>
<%= hidden_field_tag :round_id, @round.id %>
<%= hidden_field_tag :card_id, @card.id %>
<%= submit_tag "submit" %>


