<ul>
  </li><%= link_to "Mia Math", root_path, class: "brand" %></li>
	<!-- <ul class="nav"> -->		
		<% if current_user %>
		  <%=  link_to"#{current_user.email}", user_path(current_user.id) %>
		<% end %>

			<% if user_signed_in? %>
			  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
			<% else %>
			  <li><%= link_to "Create Account", new_user_registration_path %></li>
			<% end %>

				<%# form_tag user_session_path do %>
					 <%# text_field_tag 'user[email]', nil, :placeholder => 'email'%>
					 <%# password_field_tag 'user[password]', nil, :placeholder => 'password' %>
				<%# button_tag "sign in", class: "btn" %>
	      <%# end %>

					<%# label_tag 'user[remember_me]', 'Remember Me' %>
					<%# check_box_tag 'user[remember_me]', class: "checkbox inline" %>

					<li><%= link_to "Password Lost?", new_password_path('user') %></li>

</ul>





